{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
{% endblock %}
{% block title %}
    About Us
{% endblock %}
{% block content %}

<div class="pageBox" align="center">
<br>
<br>
<br>
<h1><b>Group 8</b></h1>
<br>

<div class="first">
        <div class="card-deck" style="background-color:white;">
        	<div class="card" style="width: 18rem;" >
				  <img class="card-img-top" src="/static/images/hussain_bharmal3.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">Hussain Bharmal</h5>    
				    <p class="card-text">
				                <p>
				                  Major: Petroleum Engineering<br>
				                  Graduation: Spring 2020<br>
				                  Likes rap and watching basketball
				                </p>
				                 <p>
				                   <span class="info-bold">Major Responsibilities: Backend</span>
				                   
				                 </p>
				                 <p>
				                   <span class="info-bold"># Commits: </span>
				                   <span id="Hussain-Commits">0</span>
				                 </p>
				                 <p>
				                   <span class="info-bold"># Issues: </span>
				                   <span id="Hussain-Issues">0</span>
				                 </p>
				                 <p>
				                   <span class="info-bold"># Unit Tests: </span>
				                   <span id="Hussain-UT">0</span>
				                 </p>
				              	</p>
						</p>
					  </div>
				</div>
          <div class="card" style="width: 18rem;">
				  <img class="card-img-top" src="/static/images/jungwoo_cho2.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">Jungwoo Cho</h5>    
				    <p class="card-text">
				                <p>
				                  Major: Petroleum Engineering<br>
				                  Graduation: Spring 2020<br>
				                  Likes sparkling water, cilantro, and pineapple on pizza. 
				                </p>
				                 <p>
				                   <span class="info-bold">Major Responsibilities: Backend</span>
				                   
				                 </p>
				                 <p>
				                   <span class="info-bold"># Commits: </span>
				                   <span id="Chris-Commits">2</span>
				                 </p>
				                 <p>
				                   <span class="info-bold"># Issues: </span>
				                   <span id="Chris-Issues">4</span>
				                 </p>
				                 <p>
				                   <span class="info-bold"># Unit Tests: </span>
				                   <span id="Chris-UT">0</span>
				                 </p>
				              	</p>
						</p>
					  </div>
					</div>
        <div class="card" style="width: 18rem;" >
				  <img class="card-img-top" src="/static/images/jose_torres2.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">Jose Angel Torres</h5>    
				    <p class="card-text">
				                <p>				                  
				                  Major: Human Biology<br>
				                  Graduation: Spring 2020<br>
				                  Does synthetic biology research and volunteering
				                </p>
				                 <p>
				                   <span class="info-bold">Major Responsibilities: Backend</span>
				                   
				                 </p>
				                 <p>
				                   <span class="info-bold"># Commits: </span>
				                   <span id="Jose-Commits">40</span>
				                 </p>
				                 <p>
				                   <span class="info-bold"># Issues: </span>
				                   <span id="Jose-Issues">9</span>
				                 </p>
				                 <p>
				                   <span class="info-bold"># Unit Tests: </span>
				                   <span id="Jose-UT">0</span>
				                 </p>
				              	</p>
						</p>
					  </div>
				</div>
	    <div class="card" style="width: 18rem;" >
				  <img class="card-img-top" src="/static/images/albert_liang2.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">Albert Liang</h5>    
				    <p class="card-text">
				                <p>
				                  Major: Math<br>
				                  Graduation: Spring 2020<br>
				                  Likes working out and playing video games				                  
				                </p>
				                 <p>
				                   <span class="info-bold">Major Responsibilities: Frontend</span>
				                   
				                 </p>
				                 <p>
				                   <span class="info-bold"># Commits: </span>
				                   <span id="Albert-Commits">10</span>
				                 </p>
				                 <p>
				                   <span class="info-bold"># Issues: </span>
				                   <span id="Albert-Issues">6</span>
				                 </p>
				                 <p>
				                   <span class="info-bold"># Unit Tests: </span>
				                   <span id="Albert-UT">0</span>
				                 </p>
				              	</p>
						</p>
					  </div>
				</div>
		<div class="card" style="width: 18rem;" >
				  <img class="card-img-top" src="/static/images/sean_yu2.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">Sean Yu</h5>    
				    <p class="card-text">
				                <p>
				                  Major: Chemical Engineering<br>
				                  Graduation: Spring 2021<br>
				                  Spends his free time doing judo and playing video games
				                </p>
				                 <p>
				                   <span class="info-bold">Major Responsibilities: Frontend</span>				                   
				                 </p>
				                 <p>
				                   <span class="info-bold"># Commits: </span>
				                   <span id="Sean-Commits">10</span>
				                 </p>
				                 <p>
				                   <span class="info-bold"># Issues: </span>
				                   <span id="Sean-Issues">2</span>
				                 </p>
				                 <p>
				                   <span class="info-bold"># Unit Tests: </span>
				                   <span id="Sean-UT">0</span>
				                 </p>
				              	</p>
						</p>
					  </div>
				</div>


      <table class="table table-striped mt-5" bgcolor="White">
        <thead>
          <tr class="text-center">
            <th scope="col">Total # of Commits</th>
            <th scope="col">Total # of Issues</th>
            <th scope="col">Total # of Unit Tests</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center">
            <td id="total-Commits">60</td>
            <td id="total-Issues">22</td>
            <td id="total-UT">0</td>
          </tr>
        </tbody>
      </table>     

      </div>
</div>

<div class="pageBox" align="center" bgcolor="White" style="background-color: white;">
<br>
<h2><b>Data Sources</b></h2>
<a href="http://www.austintexas.gov/department/aac">
  <img src="http://www.austintexas.gov/sites/default/files/aac_logo.jpg" alt="aac_logo" style="width:250px;height:90px;">
</a>
<a href="http://www.austinhumanesociety.org/">
  <img src="http://www.austinhumanesociety.org/wp-content/themes/pets/sites/default/files/custom-logo-img-home_1.png" alt="austinhumanesociety" style="width:240px;height:100px;">
</a>
<a href="https://www.austinpetsalive.org/">
  <img src="https://www.austinpetsalive.org/assets/icons/apa-logo-long.svg" alt="austinpetsalive" style="width:300px;height:180px;">
</a>
<br>
</div>

<div class="pageBox" align="center" bgcolor="White" style="background-color: white;">
<br>
<h2><b>Tools Used</b></h2>
<a href="https://gitlab.com/">
  <img src="https://gitlab.com/uploads/-/system/project/avatar/13083/logo-extra-whitespace.png" alt="gitlab_logo" style="width:170px;height:170px;">
</a>
<a href="https://cloud.google.com/?">
  <img src="https://cloud.google.com/_static/images/cloud/icons/favicons/onecloud/apple-icon.png" alt="GCP" style="width:150px;height:150px;">
</a>
<a href="https://getbootstrap.com/">
  <img src="https://sdtimes.com/wp-content/uploads/2018/01/bootstrap-stack-490x412.png" alt="bootstrap" style="width:150px;height:150px;">
</a>
<a href="https://slack.com/">
  <img src="https://user-images.githubusercontent.com/4998725/51313627-50fc6400-1a4e-11e9-8cbe-7c40cc0bfe67.jpg" alt="slack" style="width:150px;height:150px;">
</a>
<a href="http://flask.pocoo.org/">
  <img src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto/gigs/46941709/original/d5ace87ba59d0d4e5151668e60e8eaf673153ff7/build-api-in-python-flask.jpg" alt="flask" style="width:210px;height:150px;">
</a>
<br>
</div>

<div class="pageBox" align="center" bgcolor="White" style="background-color: white;">
<br>
<h2><b>Links</b></h2>
<p><a href="https://gitlab.com/jat4625/cs329e-idb/issues">Our Gitlab Issue tracker</a></p>
<p><a href="https://gitlab.com/jat4625/cs329e-idb/tree/master">Our Gitlab Repo</a></p>
<p><a href="https://gitlab.com/jat4625/cs329e-idb/wikis/home">Our Gitlab Wiki</a></p>
<br>
</div>
{% endblock %}
