{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
{% endblock %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div id="APASlideshow" class="carousel slide mx-auto" data-ride="carousel">
                <ol class="carousel-indicators">
                <li data-target="#APASlideshow" data-slide-to="0" class="active"></li>
                <li data-target="#APASlideshow" data-slide-to="1"></li>
                <li data-target="#APASlideshow" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="/static/images/apa1.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/static/images/apa2.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/static/images/apa3.png" alt="Third slide">
                </div>
                </div>
                <a class="carousel-control-prev" href="#APASlideshow" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#APASlideshow" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="card text-white bg-primary">
        <div class="card-header"><h1>Austin Pets Alive</h1></div>
  <div class="card-body">
    <p class="card-text"> <h3>About: </h3> 
    Austin Pets Alive! is not your average animal shelter. We pioneer innovative lifesaving programs designed to save the animals most at risk of euthanasia.
    <br>
    <br><b>Our Mission</b>
    <br>To promote and provide the resources, education, and programs needed to eliminate the killing of companion animals.
    <br>
    <br><b>Our Vision</b>
    <br>That every shelter animal, in Central Texas and beyond, gets a true chance at the life they deserve.

    </p>
    <p class="card-text"> <h3>Location: </h3> 1156 West Cesar Chavez
        <br>Austin, TX 78703</p>
    <p class="card-text"> <h3>Hours: </h3> 11:30am until 7:00pm Daily
    <p class="card-text"> <h3>Phone: </h3> (512)-961-6519</p>
    <p class="card-text"> <h3>Map: </h3> <a href="https://www.google.com/maps/place/Austin+Pets+Alive!/@30.2697045,-97.7598664,15z/data=!4m5!3m4!1s0x0:0x50db017673aa284b!8m2!3d30.2697045!4d-97.7598664" style="color:white;">Google Maps</p>
    <h2>Available Breeds: <a href="{{ url_for('breed_retriever') }}" class="btn bg-light" style="align-content: right">Retriever</a></h2>
    <h2>Available Dogs: <a href="{{url_for('dog_whiskey')}}" class="btn bg-light" style="align-content: right">Whiskey</a></h2>
    <h2>Website: <a href="https://www.austinpetsalive.org/" class="btn bg-light" style="align-content: right">Austin Pets Alive</a></h2>
  </div>
</div>
{% endblock %}
