{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
{% endblock %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div id="AHSSlideshow" class="carousel slide mx-auto" data-ride="carousel">
                <ol class="carousel-indicators">
                <li data-target="#AHSSlideshow" data-slide-to="0" class="active"></li>
                <li data-target="#AHSSlideshow" data-slide-to="1"></li>
                <li data-target="#AHSSlideshow" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="/static/images/ahs1.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/static/images/ahs2.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/static/images/ahs3.png" alt="Third slide">
                </div>
                </div>
                <a class="carousel-control-prev" href="#AHSSlideshow" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#AHSSlideshow" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="card text-white bg-primary">
        <div class="card-header"><h1>Austin Humane Society</h1></div>
  <div class="card-body">
    <p class="card-text"> <h3>About: </h3> 
    
    <p><b>As the largest no-kill, not profit pet and adoption center in Austin, the Austin Humane Society is dedicated to:</b>
    <br>Saving Austin's homeless cats and dogs
    <br>Educating our community about responsible pet ownership
    <br>Reducing pet over-population</p>

    <p><b>Our Mission</b>
    <br>The Austin Humane Society (AHS) offers comprehensive, humane, life-saving animal services, transforming the lives of animals and those who love them.
    </p>

    <b>Who We Are</b>
    <br>Serving our community since 1952, the Austin Humane Society (AHS) is the longest standing no-kill shelter in Austin. AHS transforms the lives of animals and the people who love them through life-saving programs that find animals homes, serve animals and people in times of crisis, prevent future homelessness through spay and neuter, and engage the community to be a part of the solution. Over the past year, AHS has unleashed hope for over 11,000 animals thanks to the generosity of our donors.</p>
    <p class="card-text"> <h3>Location: </h3> 124 W. Anderson Lane
        <br>Austin, TX 78752</p>
    <p class="card-text"> <h3>Hours: </h3> Monday - Saturday: 12-7
        <br>Sunday: 12-5</p>
    <p class="card-text"> <h3>Phone: </h3> (512) 646-7387 </p>
    <p class="card-text"> <h3>Map: </h3> <a href="https://www.google.com/maps/place/Austin+Humane+Society/@30.3445932,-97.7053147,15z/data=!4m5!3m4!1s0x0:0xda7f64d34e9d5843!8m2!3d30.3445932!4d-97.7053147" style="color:white;">Google Maps</p>
    <h2>Available Breeds: <a href="{{ url_for('breed_shepherd') }}" class="btn bg-light" style="align-content: right">Shepherd</a></h2>
    <h2>Available Dogs: <a href="{{url_for('dog_coco')}}" class="btn bg-light" style="align-content: right">Coco</a></h2>
    <h2>Website: <a href="http://www.austinhumanesociety.org/" class="btn bg-light" style="align-content: right">Austin Humane Society</a></h2>
  </div>
</div>
{% endblock %}
