{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
{% endblock %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div id="AACSlideshow" class="carousel slide mx-auto" data-ride="carousel">
                <ol class="carousel-indicators">
                <li data-target="#AACSlideshow" data-slide-to="0" class="active"></li>
                <li data-target="#AACSlideshow" data-slide-to="1"></li>
                <li data-target="#AACSlideshow" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="/static/images/aac1.png" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/static/images/aac2.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/static/images/aac3.png" alt="Third slide">
                </div>
                </div>
                <a class="carousel-control-prev" href="#AACSlideshow" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#AACSlideshow" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="card text-white bg-primary">
        <div class="card-header"><h1>Austin Animal Center</h1></div>
  <div class="card-body">
    <p class="card-text"> <h3>About: </h3> 
    Austin Animal Center provides shelter to more than 16,000 animals annually plus animal protection and pet resource services to Austin and Travis County. We accept stray and owned animals regardless of age, health, species or breed.
    <br>
    <br>Our goal is to place all adoptable animals in forever homes through adoption, foster care or rescue partner groups.
    <br>
    <br>Animal Services has numerous programs and partnerships designed to help pets in the shelter, in the community and in your home.
    <br>
    <br><b>Mission Statement</b>
    <br><li>To provide public service and a safety net for lost and homeless animals in the community by providing necessary food, water, shelter and standard municipal veterinary care for animals in need.</li>
    
    <li>To provide placement services that will assist lost, homeless or sheltered animals to their homes or find new homes when necessary, to provide live outcomes for at least 90% of sheltered animals.</li>
    
    <li>To enforce animal regulations and assist the public with animal-related concerns, including impoundment, quarantine and other rabies control services in order to protect citizens and animals in our community.</li>
    
    <li>To provide animal services to the public in order to educate and prevent animal homelessness and promote humane, compassionate treatment of animals and responsible pet ownership.</li>
        </p>
    <p class="card-text"> <h3>Location: </h3> 7201 Levander Loop Bldg. A 
        <br>Austin, TX 78702</p>
    <p class="card-text"> <h3>Hours: </h3> Adoption/Reclaim Hours: Everyday 11am-7pm
        <br>Animal Receiving: Mon.-Fri. 11am-7pm
        <br>Animal Receiving: Sat.-Sun. 11am-5pm</p>
    <p class="card-text"> <h3>Phone: </h3> 3-1-1</p>
    <p class="card-text"> <h3>Map: </h3> <a href="https://www.google.com/maps/place/Austin+Animal+Center/@30.251505,-97.6905616,17z/data=!4m5!3m4!1s0x8644b514250ca045:0x3814e2926e60ba70!8m2!3d30.2514494!4d-97.6895177" style="color:white;">Google Maps</p>
    <h2>Available Breeds: <a href="{{ url_for('breed_boxer') }}" class="btn bg-light" style="align-content: right">Boxer</a></h2>
    <h2>Available Dogs: <a href="{{url_for('dog_mayla')}}" class="btn bg-light" style="align-content: right">Mayla</a></h2>
    <h2>Website: <a href="http://www.austintexas.gov/department/aac" class="btn bg-light" style="align-content: right">Austin Animal Center</a></h2>

  </div>
</div>
{% endblock %}
