{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
{% endblock %}
{% block title %}
    Boxer
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div id="dogSlideshow" class="carousel slide mx-auto" data-ride="carousel">
                <ol class="carousel-indicators">
                <li data-target="#dogSlideshow" data-slide-to="0" class="active"></li>
                <li data-target="#dogSlideshow" data-slide-to="1"></li>
                <li data-target="#dogSlideshow" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="/static/images/boxer_1.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/static/images/boxer_2.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/static/images/boxer_3.jpg" alt="Third slide">
                </div>
                </div>
                <a class="carousel-control-prev" href="#dogSlideshow" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#dogSlideshow" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="card text-white bg-primary">
        <div class="card-header"><h1>Boxer</h1></div>
  <div class="card-body">

    <p class="card-text">The Boxer is a medium-sized, short-haired breed of dog, developed in Germany. The coat is smooth and tight-fitting; colors are fawn or brindled, with or without white markings, and white. Boxers are brachycephalic (they have broad, short skulls), have a square muzzle, mandibular prognathism (an underbite), very strong jaws, and a powerful bite ideal for hanging on to large prey. The Boxer was bred from the Old English Bulldog and the now extinct Bullenbeisser which became extinct by crossbreeding rather than by a decadence of the breed. The purpose of the crossbreeding was the wish to eliminate the excessive white color of the breed, and the necessity of producing thousands of dogs for one of the most popular breeds in the world. The Boxer is part of the Molosser group. This group is a category of solidly built, large dog breeds that all descend from the same common ancestor, the large shepherd dog known as a Molossus. The Boxer is a member of the Working Group</p>
      <p class="card-text"> <h4>Temperment: </h4> </p>
      <p class="card-text">Boxers are a bright, energetic and playful breed and tend to be very good with children. They are patient and spirited with children but also protective, making them a popular choice for families.[4] They are active, strong dogs and require adequate exercise to prevent boredom-associated behaviors such as chewing, digging, or licking. Boxers have earned a slight reputation of being "headstrong," which can be related to inappropriate obedience training. Owing to their intelligence and working breed characteristics, training based on corrections often has limited usefulness. Boxers, like other animals, typically respond better to positive reinforcement techniques such as clicker training, an approach based on operant conditioning and behaviorism, which offers the dog an opportunity to think independently and to problem-solve. Stanley Coren's survey of obedience trainers, summarized in his book The Intelligence of Dogs, ranked Boxers at #48 – average working/obedience intelligence. Many who have worked with Boxers disagree quite strongly with Coren's survey results, and maintain that a skilled trainer who uses reward-based methods will find Boxers have far above-average intelligence and working ability.</p>

      <h2>Find a Boxer: <a href="{{ url_for('AAC') }}" class="btn bg-light" style="align-content: right">Austin Animal Center</a></h2>
    <h2>Meet a Boxer: <a href="{{url_for('dog_mayla')}}" class="btn bg-light" style="align-content: right">Mayla</a></h2>
    <h2>Source: <a href="https://en.wikipedia.org/wiki/Boxer_(dog)" class="btn bg-light" style="align-content: right">Boxer</a></h2>
  </div>
</div>
{% endblock %}
