{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
{% endblock %}
{% block title %}
    Retriever
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div id="dogSlideshow" class="carousel slide mx-auto" data-ride="carousel">
                <ol class="carousel-indicators">
                <li data-target="#dogSlideshow" data-slide-to="0" class="active"></li>
                <li data-target="#dogSlideshow" data-slide-to="1"></li>
                <li data-target="#dogSlideshow" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="/static/images/retriever_1.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/static/images/retriever_2.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/static/images/retriever_3.jpg" alt="Third slide">
                </div>
                </div>
                <a class="carousel-control-prev" href="#dogSlideshow" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#dogSlideshow" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="card text-white bg-primary">
        <div class="card-header"><h1>Retriever</h1></div>
  <div class="card-body">

    <p class="card-text">The Labrador Retriever, or just Labrador, is a large type of retriever-gun dog. The Labrador is one of the most popular breeds of dog in Canada, the United Kingdom and the United States. A favourite disability assistance breed in many countries, Labradors are frequently trained to aid the blind, those who have autism, to act as a therapy dog, or to perform screening and detection work for law enforcement and other official agencies. Additionally, they are prized as sporting and hunting dogs.</p>
      <p class="card-text"> <h4>Temperment: </h4> </p>
      <p class="card-text">The AKC describes the Labrador's temperament as a kind, pleasant, outgoing and tractable nature. Labradors' sense of smell allows them to home in on almost any scent and follow the path of its origin. They generally stay on the scent until they find it. Navies, military forces and police forces use them as detection dogs to track down smugglers, thieves, terrorists and black marketers. They are known to have a very soft feel to the mouth, as a result of being bred to retrieve game such as waterfowl. They are prone to chewing objects (though they can be trained to abandon this behaviour).

Labradors have a reputation as a very even-tempered breed and an excellent family dog. This includes a good reputation with children of all ages and other animals. Some lines, particularly those that have continued to be bred specifically for their skills at working in the field (rather than for their appearance), are particularly fast and athletic. Their fun-loving boisterousness and lack of fear may require training and firm handling at times to ensure it does not get out of hand—an uncontrolled adult can be quite problematic. Females may be slightly more independent than males. Labradors mature at around three years of age; before this time they can have a significant degree of puppy-like energy, often mislabelled as being hyperactive. Because of their enthusiasm, leash-training early on is suggested to prevent pulling when full-grown. Labradors often enjoy retrieving a ball endlessly (often obsessively) and other forms of activity</p>

      <h2>Find a Retriever: <a href="{{ url_for('APA') }}" class="btn bg-light" style="align-content: right">Austin Pets Alive</a></h2>
    <h2>Meet a Retriever: <a href="{{url_for('dog_whiskey')}}" class="btn bg-light" style="align-content: right">Whiskey</a></h2>
    <h2>Source: <a href="https://en.wikipedia.org/wiki/Labrador_Retriever" class="btn bg-light" style="align-content: right">Retriever</a></h2>
  </div>
</div>
{% endblock %}
