{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
{% endblock %}
{% block title %}
    Coco
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div id="dogSlideshow" class="carousel slide mx-auto" data-ride="carousel">
                <ol class="carousel-indicators">
                <li data-target="#dogSlideshow" data-slide-to="0" class="active"></li>
                <li data-target="#dogSlideshow" data-slide-to="1"></li>
                <li data-target="#dogSlideshow" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="/static/images/coco1.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/static/images/coco2.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/static/images/coco1.jpg" alt="Third slide">
                </div>
                </div>
                <a class="carousel-control-prev" href="#dogSlideshow" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#dogSlideshow" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="card text-white bg-primary">
        <div class="card-header"><h1>Coco- 10 years</h1></div>
  <div class="card-body">
     <p class="card-text"> <h3>4826000</h3> </p>
    <p class="card-text">Are you looking for a sweet, gentle soul to be your new best friend? Here I am! I'm Coco, a pretty girl with an affectionate disposition. I've been around other dogs and got along just fine. I'm housetrained and would make a great individual companion dog. Inside the home, I am well mannered and easy going. Maybe we were meant to be together? Let's find out!</p>
      <h2>Shelter: <a href="{{ url_for('AHS') }}" class="btn bg-light" style="align-content: right">Austin Humane Society</a></h2>
    <h2>Breed: <a href="{{ url_for('breed_shepherd') }}" class="btn bg-light" style="align-content: right">Shepherd</a></h2>
    <h2>More info: <a href="http://www.austinhumanesociety.org/pet-details/?id=4826000" class="btn bg-light" style="align-content: right">Coco</a></h2>
  </div>
</div>
{% endblock %}
