{% extends 'base.html' %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="../static/css/custom.css">
{% endblock %}

{% block title %}
    Dog Breeds
{% endblock %}
{% block content %}
{% set breeds = [('breed_retriever', 'Retriever',"/static/images/breed_retriever2.jpg",'Learn about Retrievers!',"Friendly",5,1),('breed_boxer', 'Boxer',"/static/images/breed_boxer2.jpg",'Learn about Boxers!',"Protective",5,2),('breed_shepherd', 'Shepherd',"/static/images/breed_shepherd3.jpg",'Learn about Shepherd!',"Protective",5,3)] -%}
    <style>
      .carousel-item{
        background-color: #7770;
        height: rem;
      }
      .carousel-control-prev,
      .carousel-control-next{
          align-items: flex-end;; /* Aligns it at the bottom */
      }
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
    </style>
 <div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Sort</button>
  <div id="myDropdown" class="dropdown-content">
    <a onclick="sortAsc(0)">Name: A-Z</a>
    <a onclick="sortDes(0)">Name: Z-A</a>
      <a onclick="sortAscAgg(0)">Aggression: Least-Most</a>
    <a onclick="sortDesAgg(0)">Aggression: Most-Least</a>
    <a onclick="sortAsc(0)">Size: Small-Large</a>
    <a onclick="sortDes(0)">Size: Large-Small</a>
    <a onclick="sortTempFP(0)">Temperment:Friendly-Protective</a>
    <a onclick="sortTempPF(0)">Temperment:Protective-Friendly</a>
    <a onclick="sortColor(0)">Color: Light-Dark </a>
    <a onclick="sortColorRev(0)">Color: Dark-Light</a>

    <a onclick="reset()">Reset</a>
  </div>
</div> 
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
<script>
function sortAsc() {
$(document).ready(function(){
    $("#myCarousel").hide();
myCarousel2.hidden = false;
    $("#myCarousel2").show();
    $("#myCarousel3").hide();
    $("#myCarousel4").hide();
    $("#myCarousel5").hide();
    $("#myCarousel6").hide();
    $("#myCarousel7").hide();
    $("#myCarousel8").hide();
    $("#myCarousel9").hide();
    $("#myCarousel10").hide();
    $("#myCarousel11").hide();
});
}
</script>
<script>
function sortDes() {
$(document).ready(function(){
    $("#myCarousel").hide();
    $("#myCarousel2").hide();
myCarousel3.hidden = false;
    $("#myCarousel3").show();
    $("#myCarousel4").hide();
    $("#myCarousel5").hide();
    $("#myCarousel6").hide();
    $("#myCarousel7").hide();
    $("#myCarousel8").hide();
    $("#myCarousel9").hide();
    $("#myCarousel10").hide();
    $("#myCarousel11").hide();
});
}
</script>
<!-- Light =1, dark =5 , Tuple index = 6-->
<script>
function sortColor() {
$(document).ready(function(){
    $("#myCarousel").hide();
    $("#myCarousel2").hide();
myCarousel4.hidden = false;
    $("#myCarousel3").hide();
    $("#myCarousel4").show();
    $("#myCarousel5").hide();
    $("#myCarousel6").hide();
    $("#myCarousel7").hide();
    $("#myCarousel8").hide();
    $("#myCarousel9").hide();
    $("#myCarousel10").hide();
    $("#myCarousel11").hide();
});
}
</script>
<script>
function sortColorRev() {
$(document).ready(function(){
    $("#myCarousel").hide();
    $("#myCarousel2").hide();
myCarousel5.hidden = false;
    $("#myCarousel3").hide();
    $("#myCarousel4").hide();
    $("#myCarousel5").show();
    $("#myCarousel6").hide();
    $("#myCarousel7").hide();
    $("#myCarousel8").hide();
    $("#myCarousel9").hide();
    $("#myCarousel10").hide();
    $("#myCarousel11").hide();
});
}
</script>
<script>
function sortTempPF() {
$(document).ready(function(){
    $("#myCarousel").hide();
    $("#myCarousel2").hide();
myCarousel7.hidden = false;
    $("#myCarousel3").hide();
    $("#myCarousel4").hide();
    $("#myCarousel5").hide();
    $("#myCarousel6").hide();
    $("#myCarousel7").show();
    $("#myCarousel8").hide();
    $("#myCarousel9").hide();
    $("#myCarousel10").hide();
    $("#myCarousel11").hide();
});
}
</script>
<script>
function sortTempFP() {
$(document).ready(function(){
    $("#myCarousel").hide();
    $("#myCarousel2").hide();
myCarousel6.hidden = false;
    $("#myCarousel3").hide();
    $("#myCarousel4").hide();
    $("#myCarousel5").hide();
    $("#myCarousel6").show();
    $("#myCarousel7").hide();
    $("#myCarousel8").hide();
    $("#myCarousel9").hide();
    $("#myCarousel10").hide();
    $("#myCarousel11").hide();
});
}
</script>
<script>
function sortAscAgg() {
$(document).ready(function(){
    $("#myCarousel").hide();
    $("#myCarousel2").hide();
myCarousel8.hidden = false;
    $("#myCarousel3").hide();
    $("#myCarousel4").hide();
    $("#myCarousel5").hide();
    $("#myCarousel6").hide();
    $("#myCarousel7").hide();
    $("#myCarousel8").show();
    $("#myCarousel9").hide();
    $("#myCarousel10").hide();
    $("#myCarousel11").hide();
});
}
</script>
<script>
function sortDesAgg() {
$(document).ready(function(){
    $("#myCarousel").hide();
    $("#myCarousel2").hide();
myCarousel9.hidden = false;
    $("#myCarousel3").hide();
    $("#myCarousel4").hide();
    $("#myCarousel5").hide();
    $("#myCarousel6").hide();
    $("#myCarousel7").hide();
    $("#myCarousel8").hide();
    $("#myCarousel9").show();
    $("#myCarousel10").hide();
    $("#myCarousel11").hide();
});
}
</script>
<script>
function reset() {
$(document).ready(function(){
    $("#myCarousel").show();
    $("#myCarousel2").hide();
    $("#myCarousel3").hide();
    $("#myCarousel4").hide();
    $("#myCarousel5").hide();
    $("#myCarousel6").hide();
    $("#myCarousel7").hide();
    $("#myCarousel8").hide();
    $("#myCarousel9").hide();
    $("#myCarousel10").hide();
    $("#myCarousel11").hide();
});
}
</script>

    <div class="container-fluid">
      <h1 class="text-center mb-3">Available Breeds</h1>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner row w-auto mx-0">
          <!-- CARDS -->
          {% for dogref, name, img, visit, temp, size, color in breeds %}
          <div class="carousel-item col-md-4 active">
            <div class="card border-primary" >
              <img class="card-img-top img-fluid" src="{{ img|e }}" alt="Card image cap">
              <div class="card-body text-center">
                <h4 class="card-title"> "{{ name|e }}" </h4>
                  <a href='{{ url_for(dogref) }}' class="btn btn-primary">"{{ visit|e }}"</a>
                <p class="card-text">{{ temp|e }}</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div id="myCarousel2" class="carousel slide" data-ride="carousel" hidden>
        <div class="carousel-inner row w-auto mx-0">
          <!-- CARDS -->
          {% for dogref, name, img, visit, temp, size, color in breeds|sort %}
          <div class="carousel-item col-md-4 active">
            <div class="card border-primary" >
              <img class="card-img-top img-fluid" src="{{ img|e }}" alt="Card image cap">
              <div class="card-body text-center">
                <h4 class="card-title"> "{{ name|e }}" </h4>
                  <a href='{{ url_for(dogref) }}' class="btn btn-primary">"{{ visit|e }}"</a>
                <p class="card-text">{{ temp|e }}</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div id="myCarousel3" class="carousel slide" data-ride="carousel" hidden>
        <div class="carousel-inner row w-auto mx-0">
          <!-- CARDS -->
          {% for dogref, name, img, visit, temp, size, color in breeds|sort(true) %}
          <div class="carousel-item col-md-4 active">
            <div class="card border-primary" >
              <img class="card-img-top img-fluid" src="{{ img|e }}" alt="Card image cap">
              <div class="card-body text-center">
                <h4 class="card-title"> "{{ name|e }}" </h4>
                  <a href='{{ url_for(dogref) }}' class="btn btn-primary">"{{ visit|e }}"</a>
                <p class="card-text">{{ temp|e }}</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div id ="myCarousel4" class="carousel slide" data-ride="carousel" hidden>
        <div class="carousel-inner row w-auto mx-0">
        {% for dogref, name, img, visit, temp, size, color in breeds|sort(attribute='6') %}
          <div class="carousel-item col-md-4 active">
            <div class="card border-primary" >
              <img class="card-img-top img-fluid" src="{{ img|e }}" alt="Card image cap">
              <div class="card-body text-center">
                <h4 class="card-title"> "{{ name|e }}" </h4>
                  <a href='{{ url_for(dogref) }}' class="btn btn-primary">"{{ visit|e }}"</a>
                <p class="card-text">{{ temp|e }}</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

  <div class="container-fluid">
      <div id ="myCarousel5" class="carousel slide" data-ride="carousel" hidden>
        <div class="carousel-inner row w-auto mx-0">
        {% for dogref, name, img, visit, temp, size, color in breeds|sort(attribute='6',reverse= True) %}
          <div class="carousel-item col-md-4 active">
            <div class="card border-primary" >
              <img class="card-img-top img-fluid" src="{{ img|e }}" alt="Card image cap">
              <div class="card-body text-center">
                <h4 class="card-title"> "{{ name|e }}" </h4>
                  <a href='{{ url_for(dogref) }}' class="btn btn-primary">"{{ visit|e }}"</a>
                <p class="card-text">{{ temp|e }}</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

  <div class="container-fluid">
      <div id ="myCarousel6" class="carousel slide" data-ride="carousel" hidden>
        <div class="carousel-inner row w-auto mx-0">
        {% for dogref, name, img, visit, temp, size, color in breeds|sort(attribute='4') %}
          <div class="carousel-item col-md-4 active">
            <div class="card border-primary" >
              <img class="card-img-top img-fluid" src="{{ img|e }}" alt="Card image cap">
              <div class="card-body text-center">
                <h4 class="card-title"> "{{ name|e }}" </h4>
                  <a href='{{ url_for(dogref) }}' class="btn btn-primary">"{{ visit|e }}"</a>
                <p class="card-text">{{ temp|e }}</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

  <div class="container-fluid">
      <div id ="myCarousel7" class="carousel slide" data-ride="carousel" hidden>
        <div class="carousel-inner row w-auto mx-0">
        {% for dogref, name, img, visit, temp, size, color in breeds|sort(attribute='4',reverse= True) %}
          <div class="carousel-item col-md-4 active">
            <div class="card border-primary" >
              <img class="card-img-top img-fluid" src="{{ img|e }}" alt="Card image cap">
              <div class="card-body text-center">
                <h4 class="card-title"> "{{ name|e }}" </h4>
                  <a href='{{ url_for(dogref) }}' class="btn btn-primary">"{{ visit|e }}"</a>
                <p class="card-text">{{ temp|e }}</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  <div class="container-fluid">
      <div id ="myCarousel8" class="carousel slide" data-ride="carousel" hidden>
        <div class="carousel-inner row w-auto mx-0">
        {% for dogref, name, img, visit, temp, size, color in breeds|sort(attribute='4') %}
          <div class="carousel-item col-md-4 active">
            <div class="card border-primary" >
              <img class="card-img-top img-fluid" src="{{ img|e }}" alt="Card image cap">
              <div class="card-body text-center">
                <h4 class="card-title"> "{{ name|e }}" </h4>
                  <a href='{{ url_for(dogref) }}' class="btn btn-primary">"{{ visit|e }}"</a>
                <p class="card-text">{{ temp|e }}</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  <div class="container-fluid">
      <div id ="myCarousel9" class="carousel slide" data-ride="carousel" hidden>
        <div class="carousel-inner row w-auto mx-0">
        {% for dogref, name, img, visit, temp, size, color in breeds|sort(attribute='4',reverse= True) %}
          <div class="carousel-item col-md-4 active">
            <div class="card border-primary" >
              <img class="card-img-top img-fluid" src="{{ img|e }}" alt="Card image cap">
              <div class="card-body text-center">
                <h4 class="card-title"> "{{ name|e }}" </h4>
                  <a href='{{ url_for(dogref) }}' class="btn btn-primary">"{{ visit|e }}"</a>
                <p class="card-text">{{ temp|e }}</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
<div class="container-fluid">
      <div id ="myCarousel10" class="carousel slide" data-ride="carousel" hidden>
        <div class="carousel-inner row w-auto mx-0">
        {% for dogref, name, img, visit, temp, size, color in breeds|sort(attribute='4',reverse= True) %}
          <div class="carousel-item col-md-4 active">
            <div class="card border-primary" >
              <img class="card-img-top img-fluid" src="{{ img|e }}" alt="Card image cap">
              <div class="card-body text-center">
                <h4 class="card-title"> "{{ name|e }}" </h4>
                  <a href='{{ url_for(dogref) }}' class="btn btn-primary">"{{ visit|e }}"</a>
                <p class="card-text">{{ temp|e }}</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
<div class="container-fluid">
      <div id ="myCarousel11" class="carousel slide" data-ride="carousel" hidden>
        <div class="carousel-inner row w-auto mx-0">
        {% for dogref, name, img, visit, temp, size, color in breeds|sort(attribute='4',reverse= True) %}
          <div class="carousel-item col-md-4 active">
            <div class="card border-primary" >
              <img class="card-img-top img-fluid" src="{{ img|e }}" alt="Card image cap">
              <div class="card-body text-center">
                <h4 class="card-title"> "{{ name|e }}" </h4>
                  <a href='{{ url_for(dogref) }}' class="btn btn-primary">"{{ visit|e }}"</a>
                <p class="card-text">{{ temp|e }}</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <script  src="../static/js/index.js"></script>
{% endblock %}