{% extends 'base.html' %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="../static/css/custom.css">
{% endblock %}

{% block title %}
    Dogs
{% endblock %}
{% block content %}

    <style>
      .carousel-item{
        background-color: #7770;
        height: rem;
      }
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
    </style>
 <div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Sort</button>
  <div id="myDropdown" class="dropdown-content">
    <a onclick="sortAsc(0)">Name: A-Z</a>
    <a onclick="sortDes(0)">Name: Z-A</a>
    <a onclick="sortDes(0)">Age: Young-Old</a>
    <a onclick="sortAsc(0)">Age: Old-Young</a>
    <a onclick="sortAscSize(0)">Size: Small-Large</a>
    <a onclick="sortDesSize(0)">Size: Large-Small</a>
    <a onclick="sortMF(0)">Sex: M-F</a>
    <a onclick="sortFM(0)">Sex: F-M</a>
    <a onclick="sortAscShelt(0)">Shelter: A-Z</a>
    <a onclick="sortDesShelt(0)">Shelter: Z-A</a>
    <a onclick="reset()">Reset</a>
  </div>
</div> 
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
<script>
function sortAsc() {
$(document).ready(function(){
    $("#myCarousel").hide();
myCarousel2.hidden = false;
    $("#myCarousel2").show();
    $("#myCarousel3").hide();
    $("#myCarousel4").hide();
    $("#myCarousel5").hide();
    $("#myCarousel6").hide();
    $("#myCarousel7").hide();
    $("#myCarousel8").hide();
    $("#myCarousel9").hide();
});
}
</script>
<script>
function sortDes() {
$(document).ready(function(){
    $("#myCarousel").hide();
    $("#myCarousel2").hide();
myCarousel3.hidden = false;
    $("#myCarousel3").show();
    $("#myCarousel4").hide();
    $("#myCarousel5").hide();
    $("#myCarousel6").hide();
    $("#myCarousel7").hide();
    $("#myCarousel8").hide();
    $("#myCarousel9").hide();
});
}
</script>
<script>
function sortAscSize() {
$(document).ready(function(){
    $("#myCarousel").hide();
    $("#myCarousel2").hide();
myCarousel4.hidden = false;
    $("#myCarousel3").hide();
    $("#myCarousel4").show();
    $("#myCarousel5").hide();
    $("#myCarousel6").hide();
    $("#myCarousel7").hide();
    $("#myCarousel8").hide();
    $("#myCarousel9").hide();
});
}
</script>
<script>
function sortDesSize() {
$(document).ready(function(){
    $("#myCarousel").hide();
    $("#myCarousel2").hide();
myCarousel5.hidden = false;
    $("#myCarousel3").hide();
    $("#myCarousel4").hide();
    $("#myCarousel5").show();
    $("#myCarousel6").hide();
    $("#myCarousel7").hide();
    $("#myCarousel8").hide();
    $("#myCarousel9").hide();
});
}
</script>
<script>
function sortMF() {
$(document).ready(function(){
    $("#myCarousel").hide();
    $("#myCarousel2").hide();
myCarousel6.hidden = false;
    $("#myCarousel3").hide();
    $("#myCarousel4").hide();
    $("#myCarousel5").hide();
    $("#myCarousel6").show();
    $("#myCarousel7").hide();
    $("#myCarousel8").hide();
    $("#myCarousel9").hide();
});
}
</script>
<script>
function sortFM() {
$(document).ready(function(){
    $("#myCarousel").hide();
    $("#myCarousel2").hide();
myCarousel7.hidden = false;
    $("#myCarousel3").hide();
    $("#myCarousel4").hide();
    $("#myCarousel5").hide();
    $("#myCarousel6").hide();
    $("#myCarousel7").show();
    $("#myCarousel8").hide();
    $("#myCarousel9").hide();
});
}
</script>
<script>
function sortAscShelt() {
$(document).ready(function(){
    $("#myCarousel").hide();
    $("#myCarousel2").hide();
myCarousel8.hidden = false;
    $("#myCarousel3").hide();
    $("#myCarousel4").hide();
    $("#myCarousel5").hide();
    $("#myCarousel6").hide();
    $("#myCarousel7").hide();
    $("#myCarousel8").show();
    $("#myCarousel9").hide();
});
}
</script>
<script>
function sortDesShelt() {
$(document).ready(function(){
    $("#myCarousel").hide();
    $("#myCarousel2").hide();
myCarousel9.hidden = false;
    $("#myCarousel3").hide();
    $("#myCarousel4").hide();
    $("#myCarousel5").hide();
    $("#myCarousel6").hide();
    $("#myCarousel7").hide();
    $("#myCarousel8").hide();
    $("#myCarousel9").show();
});
}
</script>
<script>
function reset() {
$(document).ready(function(){
    $("#myCarousel").show();
    $("#myCarousel2").hide();
    $("#myCarousel3").hide();
    $("#myCarousel4").hide();
    $("#myCarousel5").hide();
    $("#myCarousel6").hide();
    $("#myCarousel7").hide();
    $("#myCarousel8").hide();
    $("#myCarousel9").hide();
});
}
</script>

    <div class="container-fluid">
      <h1 class="text-center mb-3">Available Dogs</h1>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner row w-auto mx-0">
          <!-- CARDS -->
          {% for i in dogs | sort(attribute='name') %}
          <div class="carousel-item col-md-4 active">
            <div class="card border-primary" >
              <img class="card-img-top img-fluid" src="{{ i.img }}" alt="Card image cap">
              <div class="card-body text-center">
                <h4 class="card-title"> {{ i.name }} </h4>
                  <a href='{{ url_for(i.page) }}' class="btn btn-primary">visit {{i.name}}</a>
                <p class="card-text">{{ i.sex }}</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <script  src="../static/js/index.js"></script>
{% endblock %}